<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <title>Radiology Department</title>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="content">
      {% include 'includes/_doctorsidebar.html' %}
      <main class="main">
        <table class="table">
          <thead>
            <tr>
              <th>Patient ID</th>
              <th>Patient Fname</th>
              <th>Patient minit</th>
              <th>Patient Lname</th>
              <th>Nurse ID</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mohammed</td>
              <td>E</td>
              <td>Kamel</td>
              <td>2</td>
            </tr>
            <tr class="active-row">
              <td>2</td>
              <td>Ahmed</td>
              <td>E</td>
              <td>gamal</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
      </main>
    </div>
  </body>
</html>
