<nav class="sidebar">
  <ul class="side-nav">
    <li class="side-nav__item">
      <a href="http://127.0.0.1:5000/doctor" class="side-nav__link" id="1">
        <img
          class="side-nav__img"
          src="../static/clock-svgrepo-com.svg"
          alt="Doctor-image"
        />
        <span>Shift report</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a
        href="http://127.0.0.1:5000/doctor/patient-list"
        class="side-nav__link"
        id="3"
      >
        <img
          class="side-nav__img"
          src="../static/patient-svgrepo-com.svg"
          alt="Patient-image"
        />

        <span>View patient list</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a
        href="http://127.0.0.1:5000/doctor/report"
        class="side-nav__link"
        id="4"
      >
        <img
          class="side-nav__img"
          src="../static/report-svgrepo-com.svg"
          alt="technician-image"
        />
        <span>Report case/scan</span>
      </a>
    </li>
  </ul>
</nav>
