<nav class="main-nav">
  <a href="http://127.0.0.1:5000/home"
    ><img class="main-nav__brand" src="../static/biohazard.svg" alt="app logo"
  /></a>
  <div class="main-nav__links">
    <a href="http://127.0.0.1:5000/home" class="main-nav__links--link">Home</a>
    <a href="http://127.0.0.1:5000/about" class="main-nav__links--link"
      >About</a
    >
    <a href="http://127.0.0.1:5000/contact" class="main-nav__links--link"
      >Contact</a
    >
  </div>
  <button class="main-nav__btn">
    <a href="http://127.0.0.1:5000/">
      <span class="main-nav__btn--span">Log out</span></a
    >
  </button>
</nav>
