<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Radiology Department</title>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="section">
      <div class="about-container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>Radiology Department</h3>
            <p class="content_paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="social">
            <a href="https://www.facebook.com/"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
        <div class="image-section">
          <img src="../static/istockphoto-1310346297-170667a.jpg" />
        </div>
      </div>
    </div>
  </body>
</html>
