{% extends 'admin.html' %} {% block body %}
<div class="content">
  {% include 'includes/_adminsidebar.html' %}
  <main class="main">
    <form id="form" class="form">
      <h2>Add doctor</h2>
      <div class="name">
        <label for="fname">First name:</label>
        <input
          class="fname"
          type="text"
          name="fname"
          placeholder=" First name"
        />
        <label for="mInt">Middle intial:</label>
        <input
          class="minit"
          type="text"
          name="minit"
          placeholder=" Middle initial"
        />
        <label for="Lname">Last Name:</label>
        <input
          class="lname"
          type="text"
          name="Lname"
          placeholder=" Last Name"
        />
      </div>
      <div class="form-control">
        <label for="Doctor SSN">SSN</label>
        <input type="tel" name="DSSN" placeholder=" Doctor SSN" />
        <label for="doctor Address">Address</label>
        <input type="text" name="=address" placeholder=" Doctor Address" />
      </div>

      <div class="form-control">
        <label for="doctor Address">Phone number:</label>
        <input type="tel" name="=pnumber" placeholder=" Doctor phone number" />
        <label for="doctor qualfications">qualfications:</label>
        <input
          type="text"
          name="=qualfications"
          placeholder=" Doctor qualfications"
        />
      </div>
      <div class="form-control">
        <label for="doctor gender">Gender:</label>
        <input type="text" name="gender" placeholder=" Doctor gender" />
        <label for="doctor bdate">Birth date:</label>
        <input type="date" name="bdate" placeholder=" Doctor birth date" />
      </div>

      <div class="form-control">
        <label for="doctor bdate">Email:</label>
        <input type="email" name="email" placeholder=" Doctor email" />
        <label for="doctor bdate">Relationship status:</label>
        <input
          type="text"
          name="relstatus"
          placeholder=" Doctor relationship status"
        />
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Add doctor</button>
      </div>
    </form>
  </main>

  {% endblock %}
</div>
