{% extends 'admin.html' %} {% block body %}
<div class="content">
  {% include 'includes/_adminsidebar.html' %}
  <main class="main">
    <form id="form" class="form" action = 'http://127.0.0.1:5000/admin/add-nurse' method = 'POST'>
      <h2>Add Nurse</h2>
      <div class="name">
        <label for="fname">First name:</label>
        <input
          class="fname"
          type="text"
          name="fname"
          placeholder="Enter First name"
        />
        <label for="mInt">Middle intial:</label>
        <input
          class="minit"
          type="text"
          name="minit"
          placeholder="Enter middle initial"
        />
        <label for="Lname">Last Name:</label>
        <input
          class="lname"
          type="text"
          name="Lname"
          placeholder="Enter Last Name"
        />
      </div>
      <div class="form-control">
        <label for="nurse SSN">SSN:</label>
        <input type="tel" name="SSN" placeholder="Enter nurse SSN" />
        <label for="gender">Gender:</label>
        <input type="text" name="gender" placeholder="Enter gender" />
      </div>
      <div class="form-control">
        <label for="nurse bdate">Bdate:</label>
        <input type="date" name="nBdate" placeholder="Enter nurse Birth date" />
        <label for="nurse Address">Address:</label>
        <input type="text" name="address" placeholder="Enter nurse address" />
      </div>

      <div class="form-control">
        <label for="nurse phone number">Phone Number</label>
        <input
          type="tel"
          name="npnumber"
          placeholder="Enter nurse phone number"
        />
        <label for="nurse email">email:</label>
        <input type="email" name="email" placeholder="Enter nurse email" />
      </div>
      <div class = "form-control">
        <label for="usernmae">Username: </label>
        <input type="text" name="username" placeholder=" Username" />
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" />
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Add Nurse</button>
      </div>
    </form>
  </main>

  {% endblock %}
</div>
