{% extends 'admin.html' %} {% block body %}
<div class="content">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/admin" class="side-nav__link">
          <img
            class="side-nav__img"
            src="../static/doctor-svgrepo-com.svg"
            alt="Doctor-image"
          />
          <span>Add doctor</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/admin/add-nurse" class="side-nav__link">
          <img
            class="side-nav__img"
            src="../static/nurse-svgrepo-com.svg"
            alt="Nurse-image"
          />
          <span>Add Nurse</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/admin/add-technician"
          class="side-nav__link"
          id="4"
        >
          <img
            class="side-nav__img"
            src="../static/technician-with-helmet-svgrepo-com.svg"
            alt="technician-image"
          />
          <span>Add Technician</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/admin/add-machine"
          class="side-nav__link"
          id="4"
        >
          <img
            class="side-nav__img"
            src="../static/mri-patient-svgrepo-com.svg"
            alt="technician-image"
          />
          <span>Add Machine</span>
        </a>
      </li>

      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/admin/add-room side-nav__item--active"
          class="side-nav__link"
          id="4"
        >
          <img
            class="side-nav__img"
            src="../static/hospital-svgrepo-com.svg"
            alt="technician-image"
          />
          <span>Add room</span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <h2 style="text-align: center">
      {% with messages = get_flashed_messages(with_categories=false) %} {% if
      messages %} {% for m in messages %} {{ m }} {% endfor %} {% endif %} {%
      endwith %}
    </h2>
    <form
      id="form"
      class="form"
      action="http://127.0.0.1:5000/admin/add-room"
      method="POST"
    >
      <h2>Add Room</h2>

      <div class="form-control">
        <label for="room name">Room name:</label>
        <input type="text" name="rname" placeholder="Room name" />
        <label for="type"> Machine Type:</label>
        <select name="Mtype">
          <option value="X-ray">X-ray</option>
          <option value="CT">CT</option>
          <option value="MRI">MRI</option>
          <option value="Ultrasound">Ultrasound</option>
        </select>
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Add Room</button>
      </div>
    </form>
  </main>

  {% endblock %}
</div>
