<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
    rel="stylesheet"
  />  
  <link rel="stylesheet" href="../static/styles/main.css">
    <title>Radiology Department</title>
</head>

<body>

{% include 'includes/_navbar.html' %}
{% block body %}
<div class="content">
  {% include 'includes/_doctorsidebar.html' %}


 <main class="main">
    <h2 style='text-align:center'>{% with messages = get_flashed_messages(with_categories=false) %}
        {% if messages %}
            {% for m in messages %}
             {{ m }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </h2>
    <form id="form" class="form">
      <h2>Case Report</h2>
      <div class="name">
        <label for="fname"> Patient Fname:</label>
        <input
          class="fname"
          type="text"
          name="fname"
          placeholder=" First name"
        />
        <label for="mInt">Patient MI:</label>
        <input
          class="minit"
          type="text"
          name="minit"
          placeholder=" Middle initial"
        />
        <label for="Lname">Patient Lname:</label>
        <input
          class="lname"
          type="text"
          name="Lname"
          placeholder=" Last Name"
        />
      </div>

      <div class="form-control">
        <label for="doctor bdate">Patient ID:</label>
        <input type="tel" name="PID" placeholder=" Patient ID" />
        <label for="patient diagnosis">Patient diagnosis:</label>
        <input type="text" name="Pdiagnosis" placeholder="Patient diagnosis" />
      </div>
      <div class="form-control">
        <label for="doctor bdate">Scan type:</label>
        <select name="Mtype">
          <option value="X-ray">X-ray</option>
          <option value="CT">CT</option>
          <option value="MRI">MRI</option>
          <option value="Ultrasound">Ultrasound</option>
        </select> 
        <label for="patient diagnosis">Scan date:</label>
        <input type="date" name="Sdate" placeholder="Scan date" />
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Case Report</button>
      </div>
    </form>
 </main>
 {% endblock %}

</div>

</div>
<script src="../index.js"></script>
</body>
</html>