{% extends 'doctor.html' %} {% block body %}

<div class="content">
  {% include 'includes/_doctorsidebar.html' %}

  <main class="main">
    <form id="form" class="form">
      <h2>Case Report</h2>
      <div class="name">
        <label for="fname"> Patient Fname:</label>
        <input
          class="fname"
          type="text"
          name="fname"
          placeholder=" First name"
        />
        <label for="mInt">Patient MI:</label>
        <input
          class="minit"
          type="text"
          name="minit"
          placeholder=" Middle initial"
        />
        <label for="Lname">Patient Lname:</label>
        <input
          class="lname"
          type="text"
          name="Lname"
          placeholder=" Last Name"
        />
      </div>

      <div class="form-control">
        <label for="doctor bdate">Patient ID:</label>
        <input type="tel" name="PID" placeholder=" Patient ID" />
        <label for="patient diagnosis">Patient diagnosis:</label>
        <input type="text" name="Pdiagnosis" placeholder="Patient diagnosis" />
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Case Report</button>
      </div>
    </form>
  </main>
  {% endblock %}

  <!-- Nurse part -->
</div>
