{% extends 'doctor.html' %} {% block body %}

<div class="content">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/doctor" class="side-nav__link" id="1">
          <img
            class="side-nav__img"
            src="../static/doctor-svgrepo-com.svg"
            alt="Doctor-image"
          />
          <span>Doctor</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/nurse" class="side-nav__link" id="2">
          <img
            class="side-nav__img"
            src="../static/nurse-svgrepo-com.svg"
            alt="Nurse-image"
          />

          <span>Nurse</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/patient" class="side-nav__link" id="3">
          <img
            class="side-nav__img"
            src="../static/patient-svgrepo-com.svg"
            alt="Patient-image"
          />

          <span>Patient</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician"
          class="side-nav__link"
          id="4"
        >
          <img
            class="side-nav__img"
            src="../static/technician-with-helmet-svgrepo-com.svg"
            alt="technician-image"
          />
          <span>Technician</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/machine"
          class="side-nav__link side-nav__item--active"
          id="6"
        >
          <img
            class="side-nav__img"
            src="../static/mri-patient-svgrepo-com.svg"
            alt="Machine-image"
          />
          <span>Machines</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/room" class="side-nav__link" id="7">
          <img
            class="side-nav__img"
            src="../static/hospital-svgrepo-com.svg"
            alt="Rooms-image"
          />
          <span>Rooms</span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <h2 style="text-align: center">
      {% with messages = get_flashed_messages(with_categories=false) %} {% if
      messages %} {% for m in messages %} {{ m }} {% endfor %} {% endif %} {%
      endwith %}
    </h2>
    <form id="form" class="form">
      <h2>Machine</h2>

      <div class="form-control">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter username"  required/>
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter password"  required/>
      </div>
      <div class="btn-box">
        <button class="btn" type="submit">Submit</button>
        <a class="btn" type="button" style="text-align: center">View</a>
      </div>
    </form>
  </main>
  {% endblock %}
</div>
