{% extends 'doctor.html' %} {% block body %}

<div class="content">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/nurse" class="side-nav__link">
          <img
            class="side-nav__img"
            src="../static/report-svgrepo-com.svg"
            alt="report-image"
          />
          <span>Report case/scan:</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/nurse/patient-list"
          class="side-nav__link"
        >
          <img
            class="side-nav__img"
            src="../static/patient-svgrepo-com.svg"
            alt="Patient-image"
          />

          <span>View patient list</span>
        </a>
      </li>

      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/nurse/report-machine"
          class="side-nav__link side-nav__item--active"
        >
          <img
            class="side-nav__img"
            src="../static/mri-patient-svgrepo-com.svg"
            alt="technician-image"
          />
          <span> Report issues in machines: </span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <h2 style="text-align: center">
      {% with messages = get_flashed_messages(with_categories=false) %} {% if
      messages %} {% for m in messages %} {{ m }} {% endfor %} {% endif %} {%
      endwith %}
    </h2>
    <form id="form" class="form" action='/nurse/report-machine' method='POST'>
      <h2>Machine Issue Report</h2>

      <div class="form-control">
        <label for="Machine ID">Machine ID</label>
        <select style='width:100%' name="machid" required>
           {% for i in data.res %}
           <option value = "{{i}}">{{i}}</option>
           {% endfor %}
        </select>
      </div>
      <div class ="form-control">
        <label for="issue">Issue</label>
        <input style='width:100%' name ='issue' type='text' placeholder='Enter the issues'  required/>
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Machine Report</button>
      </div>
    </form>
  </main>
  {% endblock %}

  <!-- Nurse part -->
</div>
