{% extends 'doctor.html' %} {% block body %}

<div class="content">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/nurse" class="side-nav__link">
          <img
            class="side-nav__img"
            src="../static/report-svgrepo-com.svg"
            alt="report-image"
          />
          <span>Report case/scan:</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/nurse/patient-list"
          class="side-nav__link"
        >
          <img
            class="side-nav__img"
            src="../static/patient-svgrepo-com.svg"
            alt="Patient-image"
          />

          <span>View patient list</span>
        </a>
      </li>

      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/nurse/report-machine"
          class="side-nav__link side-nav__item--active"
        >
          <img
            class="side-nav__img"
            src="../static/mri-patient-svgrepo-com.svg"
            alt="technician-image"
          />
          <span> Report issues in machines: </span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <form id="form" class="form">
      <h2>Machine Report</h2>

      <div class="form-control">
        <label for="Machine ID">Machine ID</label>
        <input type="tel" name="MID" placeholder=" Machine ID" />
        <label for="Room ID">Room ID:</label>
        <input type="text" name="Mroom" placeholder="Room ID" />
      </div>
      <div class="form-control">
        <label for="Machine Issue">Issue reported</label>
        <input type="tel" name="Missue" placeholder=" Machine issue" />
        <label for="Machine type">Machine type</label>
        <select name="Mtype">
          <option value="X-ray">X-ray</option>
          <option value="CT">CT</option>
          <option value="MRI">MRI</option>
          <option value="Ultrasound">Ultrasound</option>
        </select>
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Machine Report</button>
      </div>
    </form>
  </main>
  {% endblock %}

  <!-- Nurse part -->
</div>
