{% extends 'doctor.html' %}

<!-- Nurse part -->
{% block body %}

<div class="content">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item side-nav__item--active">
        <a href="http://127.0.0.1:5000/nurse" class="side-nav__link" id="4">
          <img
            class="side-nav__img"
            src="../static/report-svgrepo-com.svg"
            alt="report-image"
          />
          <span>Report case/scan:</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/nurse/patient-list"
          class="side-nav__link"
          id="3"
        >
          <img
            class="side-nav__img"
            src="../static/patient-svgrepo-com.svg"
            alt="Patient-image"
          />

          <span>View patient list</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/nurse/report-machine"
          class="side-nav__link"
          id="4"
        >
          <img
            class="side-nav__img"
            src="../static/mri-patient-svgrepo-com.svg"
            alt="technician-image"
          />
          <span> Report issues in machines: </span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <h2 style="text-align: center">
      {% with messages = get_flashed_messages(with_categories=false) %} {% if
      messages %} {% for m in messages %} {{ m }} {% endfor %} {% endif %} {%
      endwith %}
    </h2>
    <form id="form" class="form" method="POST" action="/nurse">
      <h2>Case Report</h2>
      <div class="form-control">
        <label for="doctor bdate">Scan</label>
        <select stytle="width:100%" name="data">
          {% for i in range(x) %}
          <option value="{{data[i]}}">{{data[i+x]}}</option>
          {% endfor %}
        </select>
        <label for="scan">Diagnosis</label>
        <input type="text" name="diag" placeholder="diagnosis" />
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Case Report</button>
      </div>
    </form>
  </main>
  {% endblock %}

  <!-- Nurse part -->
</div>
