<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <title>Radiology Department</title>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="content">
      <nav class="sidebar">
        <ul class="side-nav">
          <li class="side-nav__item">
            <a href="http://127.0.0.1:5000/nurse" class="side-nav__link">
              <img
                class="side-nav__img"
                src="../static/report-svgrepo-com.svg"
                alt="report-image"
              />
              <span>Report case/scan:</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a
              href="http://127.0.0.1:5000/nurse/patient-list"
              class="side-nav__link side-nav__item--active"
            >
              <img
                class="side-nav__img"
                src="../static/patient-svgrepo-com.svg"
                alt="Patient-image"
              />

              <span>View patient list</span>
            </a>
          </li>

          <li class="side-nav__item">
            <a
              href="http://127.0.0.1:5000/nurse/report-machine"
              class="side-nav__link"
            >
              <img
                class="side-nav__img"
                src="../static/mri-patient-svgrepo-com.svg"
                alt="technician-image"
              />
              <span> Report issues in machines: </span>
            </a>
          </li>
        </ul>
      </nav>
      <main class="main">
        <table class="table">
          <thead>
            <tr>
              {% for rh in data.rowheaders %}
              <th>{{rh}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
              {% for x in data.res %}
            <tr class="active-row">
              {% for m in x %}
              <td>{{m}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
    </div>
  </body>
</html>
