{% extends 'doctor.html' %}

<!-- Nurse part -->
{% block body %}

<div class="content">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item side-nav__item--active">
        <a href="http://127.0.0.1:5000/patient" class="side-nav__link" id="1">
          <img
            class="side-nav__img"
            src="../static/calendar.svg"
            alt="calendar-image"
          />
          <span>Reserve scan</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/patient/patient-scan-history"
          class="side-nav__link"
          id="3"
        >
          <img
            class="side-nav__img"
            src="../static/medical-history.svg"
            alt="history-image"
          />

          <span>View scan history</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/patient/view-reservation"
          class="side-nav__link"
          id="4"
        >
          <img
            class="side-nav__img"
            src="../static/reservation-view.svg"
            alt="report-image"
          />
          <span>View reservations:</span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <form action="" method="post" id="form" class="form">
      <h2>Reserve scan</h2>

      <div class="form-control">
        <label for="shift start">Scan date</label>
        <input type="tel" name="scandate" placeholder=" Scan date" />
        <label for="Patient ID">Scan type </label>
        <input type="tel" name="scantype" placeholder=" Scan type" />
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </main>
  {% endblock %}
</div>
