<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <title>Radiology Department</title>
  </head>
  <body>
    {% include 'includes/_loggedinnavbar.html' %}
    <div class="content">
      <nav class="sidebar">
        <ul class="side-nav">
          <li class="side-nav__item">
            <a
              href="http://127.0.0.1:5000/patient"
              class="side-nav__link"
              id="1"
            >
              <img
                class="side-nav__img"
                src="../static/calendar.svg"
                alt="calendar-image"
              />
              <span>Reserve scan</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a
              href="http://127.0.0.1:5000/patient/patient-scan-history"
              class="side-nav__link"
              id="3"
            >
              <img
                class="side-nav__img"
                src="../static/medical-history.svg"
                alt="history-image"
              />

              <span>View scan history</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a
              href="http://127.0.0.1:5000/patient/view-reservation"
              class="side-nav__link side-nav__item--active"
              id="4"
            >
              <img
                class="side-nav__img"
                src="../static/reservation-view.svg"
                alt="report-image"
              />
              <span>View reservations:</span>
            </a>
          </li>
        </ul>
      </nav>
      <main class="main">
        <table class="table">
          <thead>
            <tr>
              {% for rh in data.rowheaders %}
              <th>{{rh}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
              {% for x in data.res %}
            <tr class="active-row">
              {% for m in x %}
              <td>{{m}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
    </div>
  </body>
</html>
