{% extends 'doctor.html' %}

<!-- Nurse part -->
{% block body %}

<div class="content">
  <main class="main">
    <h2 style="text-align: center">
      {% with messages = get_flashed_messages(with_categories=false) %} {% if
      messages %} {% for m in messages %} {{ m }} {% endfor %} {% endif %} {%
      endwith %}
    </h2>
    <form
      action="http://127.0.0.1:5000/registerp"
      method="POST"
      id="form"
      class="form"
    >
      <h2>Patient Account Registration</h2>
      <div class="form-control">
        <label for="fname">First Name</label>
        <input type="text" name="fname" placeholder="First Name"  required/>
        <label for="minit">Middle Name</label>
        <input type="text" name="minit" placeholder="Middle Name"  required/>
        <label for="lname">Last Name</label>
        <input type="text" name="lname" placeholder="Last Name"  required/>
      </div>
      <div class="form-control">
        <label for="SSN">SSN</label>
        <input type="text" name="ssn" placeholder="SSN" required />
        <label for="Address">Address</label>
        <input type="text" name="address" placeholder="Address"  required/>
      </div>
      <div class="form-control">
        <label for="PNumber">Phone Number</label>
        <input type="text" name="pnumber" placeholder="Phone Number"  required/>
        <label for="Email">Email</label>
        <input type="email" name="email" placeholder="someone@example.com"  required/>
      </div>
      <div class="form-control">
        <label for"gender">Gender</label>
        <select name="gender" required>
            <option value ='Male'>Male</option>
            <option value ='Female'>Female</option>
        </select>
        <label for='bdate'>Birth Date</label>
        <input type='date' name='bdate' required/>
      </div>
      <div class="form-control">
        <label for="usernmae">Username: </label>
        <input type="text" name="username" placeholder=" Username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password"  required/>
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </main>
</div>
 {% endblock %}

