<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <title>Radiology Department</title>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}

    <div class="container">
      <h2 style="text-align: center">
        {% with messages = get_flashed_messages(with_categories=false) %} {% if
        messages %} {% for m in messages %} {{ m }} {% endfor %} {% endif %} {%
        endwith %}
      </h2>
      <form autocomplete="off" id="form" class="form" action="/" method="POST">
        <h2>Sign In</h2>
        <div class="form-control">
          <label for="username">Username</label>
          <input
            style="width: 100%"
            type="text"
            id="username"
            name="username"
            placeholder="Enter username"
          />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input
            style="width: 100%"
            type="password"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <div class="form-control">
          <button
            style="width: 90%; margin-left: 6rem"
            class="btn"
            type="submit"
          >
            Sign in
          </button>
        </div>
        <div class="form-control">
          <button
            style="width: 90%; margin-left: 6rem"
            class="btn"
            type="submit"
          >
            Register as a patient
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
