{% extends 'doctor.html' %}

<!-- Nurse part -->
{% block body %}

<div class="content">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/technician" class="side-nav__link">
          <img
            class="side-nav__img"
            src="../static/maintenance.svg"
            alt="maintenance-image"
          />

          <span>Report maintenance</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician/checks"
          class="side-nav__link side-nav__item--active"
        >
          <img
            class="side-nav__img"
            src="../static/calendar.svg"
            alt="report-image"
          />
          <span>Report regular checks </span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician/issues"
          class="side-nav__link"
        >
          <img
            class="side-nav__img"
            src="../static/mri-patient-svgrepo-com.svg"
            alt="issues-image"
          />
          <span> View machine issues </span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <form action="" method="post" id="form" class="form">
      <h2>Report Check</h2>

      <div class="form-control">
        <label for="check date">Check date</label>
        <input type="date" name="Cdate" placeholder="Check date" />
        <label for="Machine ID">Machine ID:</label>
        <input type="tel" name="MID" placeholder="Enter Machine ID" />
      </div>
      <div class="form-control">
        <label for="Check time">Check time</label>
        <input type="time" name="Ctime" placeholder="Check time" />
        <label for="Machine type">Machine type:</label>
        <select name="Mtype">
          <option value="X-ray">X-ray</option>
          <option value="CT">CT</option>
          <option value="MRI">MRI</option>
          <option value="Ultrasound">Ultrasound</option>
        </select>
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Report check</button>
      </div>
    </form>
  </main>
  {% endblock %}
</div>
