{% extends 'doctor.html' %}

<!-- Nurse part -->
{% block body %}

<div class="content">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item side-nav__item--active">
        <a href="http://127.0.0.1:5000/technician" class="side-nav__link">
          <img
            class="side-nav__img"
            src="../static/clock-svgrepo-com.svg"
            alt="time-image"
          />
          <span>Shift report</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician/maintenance"
          class="side-nav__link"
        >
          <img
            class="side-nav__img"
            src="../static/maintenance.svg"
            alt="maintenance-image"
          />

          <span>Report maintenance</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician/checks"
          class="side-nav__link"
        >
          <img
            class="side-nav__img"
            src="../static/calendar.svg"
            alt="report-image"
          />
          <span>Report regular checks </span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician/issues"
          class="side-nav__link"
        >
          <img
            class="side-nav__img"
            src="../static/mri-patient-svgrepo-com.svg"
            alt="issues-image"
          />
          <span> View machine issues </span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <h2 style='text-align=center'>{% with messages = get_flashed_messages(with_categories=false) %}
        {% if messages %}
            {% for m in messages %}
             {{ m }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </h2>
    <form action="" method="post" id="form" class="form">
      <h2>Technician shift report</h2>

      <div class="form-control">
        <label for="shift start">Shift start</label>
        <input type="tel" name="shift start" placeholder="Enter shift start" />
        <label for="Patient ID">Shift end</label>
        <input type="tel" name="shift end" placeholder="Enter shift end" />
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Submit</button>
        <!-- <a class="btn" type="button" style="text-align: center;">View</a> -->
      </div>
    </form>
  </main>
  {% endblock %}
</div>
