{% extends 'doctor.html' %}

<!-- Nurse part -->
{% block body %}

<div class="content">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/technician" class="side-nav__link">
          <img
            class="side-nav__img"
            src="../static/clock-svgrepo-com.svg"
            alt="time-image"
          />
          <span>Shift report</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician/maintenance"
          class="side-nav__link"
        >
          <img
            class="side-nav__img"
            src="../static/maintenance.svg"
            alt="maintenance-image"
          />

          <span>Report maintenance</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician/checks"
          class="side-nav__link"
        >
          <img
            class="side-nav__img"
            src="../static/calendar.svg"
            alt="report-image"
          />
          <span>Report regular checks </span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician/issues"
          class="side-nav__link side-nav__item--active"
        >
          <img
            class="side-nav__img"
            src="../static/mri-patient-svgrepo-com.svg"
            alt="issues-image"
          />
          <span> View machine issues </span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <table class="table">
      <thead>
        <tr>
          <th>Machine ID</th>
          <th>Machine type</th>
          <th>Machine model number</th>
          <th>Issue reported</th>
          <th>Room ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>MRI</td>
          <td>X2B</td>
          <td>Broken Screen</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </main>
  {% endblock %}
</div>
