{% extends 'doctor.html' %}

<!-- Nurse part -->
{% block body %}

<div class="content">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/technician" class="side-nav__link">
          <img
            class="side-nav__img"
            src="../static/technician-with-helmet-svgrepo-com.svg"
            alt="tech-image"
          />

          <span>Unassigned Issues</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a href="http://127.0.0.1:5000/technician/treport" class="side-nav__link">
          <img
            class="side-nav__img"
            src="../static/maintenance.svg"
            alt="maintenance-image"
          />

          <span>Report maintenance</span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician/checks"
          class="side-nav__link"
        >
          <img
            class="side-nav__img"
            src="../static/calendar.svg"
            alt="report-image"
          />
          <span>Report regular checks </span>
        </a>
      </li>
      <li class="side-nav__item">
        <a
          href="http://127.0.0.1:5000/technician/issues"
          class="side-nav__link side-nav__item--active"
        >
          <img
            class="side-nav__img"
            src="../static/mri-patient-svgrepo-com.svg"
            alt="issues-image"
          />
          <span> View machine issues </span>
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <table class="table">
      <thead>
        <tr>
            {% for rh in data.rowheaders %}
            <th>{{rh}}</th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for x in data.res %}
        <tr class="active-row">
            {% for m in x %}
            <td>{{m}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
  {% endblock %}
</div>
