.section {
  width: 100%;
  min-height: 100vh;
  background-color: $color-grey-light-2;
}
.title {
  color: #333;
}
.about-container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 10rem;
}
.content_paragraph {
  margin-left: 2rem;
}
.content-section {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 44.1rem;
  height: 30rem;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 2.8rem;
}
.content-section .content h3 {
  margin-top: 2rem;
  color: #5d5d5d;
  font-size: 2.1rem;
}
.content-section .content p {
  margin-top: 1rem;
  font-family: sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.content-section .content .button {
  margin-top: 3rem;
}

.content-section .social {
  margin: 4rem 4rem;
}
.content-section .social i {
  color: $color-primary-dark;
  font-size: 3rem;
  padding: 0px 10px;
}
.content-section .social i:hover {
  color: #333;
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 5rem;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 1.9rem;
  }
  .content-section .content .button {
    text-align: center;
  }
  .content-section .content .button a {
    padding: 9px 3rem;
  }
  .content-section .social {
    text-align: center;
  }
}
