.signin-btn {
  display: flex;
  margin-bottom: 3rem;
  cursor: pointer;
  background-color: #ba265d;
  border: 2px solid #ba265d;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 30%;
  margin-left: 54rem;
}
