/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
}

a {
  text-decoration: none;
  color: #fff;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  height: 7rem;
  border-bottom: 1px solid #f4f2f2;
}

.main-nav__brand {
  width: 6rem;
  height: 3.5rem;
  position: relative;
  margin-left: 3rem;
}

.main-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  margin-left: 3rem;
}

.main-nav__links--link {
  text-decoration: none;
  margin: 0 3rem;
  font-size: 1.3rem;
  color: #7c7c7c;
}

.main-nav__links--link:hover {
  margin-top: 2.5rem;
  padding-bottom: 2.3rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #616161;
  border-bottom: solid 3px #ba265d;
}

.main-nav__btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 0.1rem #000 solid;
  border-radius: 5rem;
  padding: 0.7rem 1.6rem;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: #fff;
  margin: 0 3rem;
  margin-left: auto;
}

.main-nav__btn:hover {
  background-color: #333;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.side-nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #ba265d;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s,
    -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s, -webkit-transform 0.2s;
}

.side-nav__item:hover::before,
.side-nav__item--active::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  width: 100%;
}

.side-nav__item--active {
  background-color: #ba265d;
  width: 100%;
}

.side-nav__item:active::before {
  background-color: #ff3366;
}

.side-nav__link:link,
.side-nav__link:visited {
  color: #faf9f9;
  text-decoration: none;
  display: block;
  padding: 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  position: relative;
}

.side-nav__img {
  margin-right: 2rem;
  height: 2rem;
  width: 2rem;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main {
  background-color: #fafafa;
  border-radius: 5px;
  width: 600px;
}

.form-control .btn {
  cursor: pointer;
  background-color: #ba265d;
  border: 2px solid #ba265d;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 1.3rem;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  height: 4rem;
  margin-left: 1rem;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 3rem 4rem;
}

.form-control {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
  margin: 0 2rem;
  width: 5rem;
  height: 4rem;
}

.form-control label:first-child {
  color: #777;
  display: block;
  margin-bottom: 5px;
  margin-left: 0;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 46rem;
  padding: 10px;
  font-size: 14px;
}

.form-control select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 46rem;
  padding: 10px;
  font-size: 14px;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.name input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.name label {
  width: 5rem;
  color: #777;
  display: block;
  margin-bottom: 5px;
  margin: 0 2.5rem;
}

.name label:first-child {
  margin-left: 0;
}

.minit {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 21.3%;
  flex: 0 0 21.3%;
}

label {
  font-size: 1rem;
}

.table {
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 4.5rem 25rem;
  padding: 3rem 4rem;
  font-size: 1.4rem;
  min-width: 40rem;
}

.table th,
.table td {
  padding: 1.2rem 1.4rem;
}

.table tr {
  height: 5rem;
}

.table thead tr {
  background-color: #ba265d;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #ba265d;
}

.signin-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  cursor: pointer;
  background-color: #ba265d;
  border: 2px solid #ba265d;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 30%;
  margin-left: 54rem;
}

.section {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f2f2;
}

.title {
  color: #333;
}

.about-container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 10rem;
}

.content_paragraph {
  margin-left: 2rem;
}

.content-section {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}

.image-section img {
  width: 44.1rem;
  height: 30rem;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}

.content-section .content h3 {
  margin-top: 2rem;
  color: #5d5d5d;
  font-size: 2.1rem;
}

.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

.content-section .content .button {
  margin-top: 3rem;
}

.content-section .content .button a {
  background-color: #333;
  padding: 12px 4rem;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
  background-color: #ba265d;
  color: #fff;
}

.content-section .social {
  margin: 4rem 4rem;
}

.content-section .social i {
  color: #ba265d;
  font-size: 3rem;
  padding: 0px 10px;
}

.content-section .social i:hover {
  color: #333;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 5rem;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 1.9rem;
  }
  .content-section .content .button {
    text-align: center;
  }
  .content-section .content .button a {
    padding: 9px 3rem;
  }
  .content-section .social {
    text-align: center;
  }
}

.contact-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 10rem;
  margin-top: 4rem;
}

.contact-container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url('img/bg.jpg') no-repeat center;
  background-size: cover;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: -1;
}

.contact-box {
  max-width: 85rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  background: url('../computer-scan.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 2.5rem 4rem;
}

.contact-header {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.contact-header:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 4px;
  width: 5rem;
  border-radius: 2px;
  background-color: #eb2f64;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 2.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 15rem;
}

.contact-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #eb2f64;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.contact-btn:hover {
  background-color: #ff3366;
}

.field:focus {
  border: 2px solid #ff3366;
  background-color: #fff;
}

@media screen and (max-width: 880px) {
  .contact-box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .left {
    height: 20rem;
  }
}
/*# sourceMappingURL=main.css.map */
